@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html * {
	font-family: 'PT Sans', sans-serif;
}

.form-checkbox:focus,
.form-input:focus,
.form-radio:focus {
	box-shadow: none !important;
	border-color: transparent !important;
}

.search-widget-btn {
	height: 84%;
	margin-right: 5px;
	width: 54px;
}
.search-widget-icon {
	margin-right: 27px;
}

.icon-footer-location {
	width: 18px;
	height: 22px;
	background: url('../images/footer-icon.png') -10px -10px;
}
.icon-footer-mail {
	width: 24px;
	height: 24px;
	background: url('../images/footer-icon.png') -10px -94px;
}
.icon-footer-phone {
	width: 22px;
	height: 22px;
	background: url('../images/footer-icon.png') -10px -52px;
}
.circle-arrow-left {
	width: 40px;
	height: 40px;
	background: url('../images/arrow-icon.png') -94px -10px;
}
.circle-arrow-right {
	width: 40px;
	height: 40px;
	background: url('../images/arrow-icon.png') -154px -10px;
}
.arrow-left {
	width: 22px;
	height: 39px;
	background: url('../images/arrow-icon.png') -10px -10px;
}
.arrow-right {
	width: 22px;
	height: 39px;
	background: url('../images/arrow-icon.png') -52px -10px;
}
.facebook-color {
	width: 25px;
	height: 25px;
	background: url('../images/social/social-color.png') -10px -10px;
}
.twitter-color {
	width: 25px;
	height: 25px;
	background: url('../images/social/social-color.png') -145px -10px;
}
.instagram-color {
	width: 25px;
	height: 25px;
	background: url('../images/social/social-color.png') -55px -10px;
}
.pinterest-color {
	width: 25px;
	height: 26px;
	background: url('../images/social/social-color.png') -100px -10px;
}

/* slider */
.home-top-slider .swiper-pagination {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
}
.home-product-slider-wrapper .swiper-container {
	padding-bottom: 70px;
	padding-top: 40px;
}
/* .home-product-slider-wrapper .swiper-pagination>* {
    visibility: hidden;
}
.home-product-slider-wrapper .swiper-pagination .swiper-pagination-bullet-active-main {
    visibility: visible;
} */
.swiper-pagination-bullet {
	border: 2px solid #3099f2 !important;
	opacity: 1;
	background: transparent !important;
	padding: 0 !important;
	margin: 0 4px;
	width: 12px !important;
	height: 12px !important;
}
.swiper-pagination-bullet-active {
	background-color: #3099f2 !important;
}
.nice-scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	border: 3px solid #eff2f5;
	background-color: #d0d9e2;
}
.nice-scroll::-webkit-scrollbar {
	width: 7px;
	background-color: #eff2f5;
}
.nice-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #d0d9e2;
	background-color: #d0d9e2;
}
.nice-scroll::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset - -6px #7891a6;
	background-color: #7891a6;
}
.product-pagination-arrow svg {
	width: 35px;
	height: 35px;
}
.product-pagination-arrow-disabled circle {
	fill: #7891A6;
}
.product-pagination-arrow:not(.product-pagination-arrow-disabled):hover circle {
	fill: #1f84da;
}
